.analogue-title {
	text-align: center;
	margin-top: 20px;
	font-size: 60px;
	margin-right: 0%;
	position: sticky;
}

.analogue-description {
	text-align: center;
	margin-top: 0px;
	margin-left: 30%;
}

.analogue-container {
	margin: 0 2rem;
}

.analogue-quantity {
	text-align: center;
	margin-top: 0px;
	margin-left: 30%;
	width: 20%;
}

.micro-image {
	margin-left: -40%;
	width: 40vw;
}

.analogue-row {
}

.micro-col {
	width: 80vw;
	margin-right: 100px;
}

.back-button {
	text-decoration: none;
	color: red;
}

@media (min-width: 960px) {
	.micro-image {
		width: 20vw;
	}

	.analogue-title {
		margin-left: 10px;
		margin-top: 10px;
	}

	.analogue-description {
		margin-left: -460px;
		margin-top: 10px;
		position: sticky;
	}

	.analogue-quantity {
		margin-left: -460px;
		margin-top: 0px;
		width: 45px;
		position: sticky;
	}
}
