.form {
	margin: auto;
	width: 50%;
	margin: auto;
	padding: 10px;
}

.form-name {
	margin: auto;
	width: 50%;

	padding: 10px;
}

.form-message {
	margin: auto;
	width: 50%;
	margin-right: 26%;
	padding: 10px;
}

.container {
	position: fixed;
	width: 60%;
	max-width: 1300px;
	margin-top: 10%;
	margin-left: 24%;
	padding-right: 40px;
	padding-left: 50px;
	background-color: white;
	height: 70%;
	opacity: 0.8;
}

@media screen and (max-width: 960px) {
	.container {
		position: absolute;
		margin-left: 10%;
		margin-top: 20px;
		width: 80%;
	}

	.form {
		margin: auto;
		width: 50%;
		margin: auto;
		padding: 10px;
	}

	.form-name {
		margin: auto;
		width: 50%;

		padding: 10px;
	}

	.form-message {
		width: 150%;
		margin-left: -23%;
		padding: 10px;
		height: 50%;
	}
}
