video {
	object-fit: cover;
	position: fixed;
	z-index: -1;
	background-image: cover;
}

.home-hero-banner {
	background-color: white;
	width: cover;
	height: 400px;
	background-image: url(https://images.unsplash.com/photo-1563330232-57114bb0823c?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8cmVjb3JkaW5nJTIwc3R1ZGlvfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60);
	background-repeat: no-repeat, repeat;
	background-position: center;
	background-size: cover;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.jumbo-title {
	text-align: center;
	color: white;
	font-size: 50px;
}

.jumbo-text {
	text-align: center;
	color: white;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	position: sticky;
}

.text-container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.row-home {
	text-align: center;
	margin: 0 2rem 2rem;
}

.column-home {
	margin: 0 auto;
	text-align: center;
}

.column-title {
	align-items: center;
	justify-content: center;
	font-size: 25px;
}

.column-paragraph {
	height: 10%;
}

.column-paragraph p {
	margin: 0 auto;
	text-align: center;
}

.column-paragraph p + p {
	margin-top: 1rem;
}

@media (min-width: 960px) {
	.row-home {
		margin: 0 0 2rem 0;
	}
	.jumbotron h1 {
		font-size: 6em;
		width: 100%;
		position: sticky;
	}

	.column-paragraph p {
		padding: 10px;
		margin: 20px;
		height: auto;
	}
	.column-title {
		padding: 10px;
		margin: 20px;
		height: auto;
	}
}
