video {
	object-fit: cover;
	position: fixed;
	z-index: -1;
	background-image: cover;
}

.jumbotron {
	background-color: white;
	width: cover;
	height: 400px;
	border: solid white;
	background-image: url(https://images.unsplash.com/photo-1563330232-57114bb0823c?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8cmVjb3JkaW5nJTIwc3R1ZGlvfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60);
	background-repeat: no-repeat, repeat;
	background-position: center;
	background-size: cover;
	padding-top: 40px;
	font-weight: bold;
	padding: 100px;
	position: sticky;
}

.jumbo-title {
	text-align: center;
	color: white;
	font-size: 50px;
}

.jumbo-text {
	text-align: center;
	color: white;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	position: sticky;
}

.text-container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.row-home {
	text-align: center;
	width: 10%;
}

.column-home {
	width: 350px;
	margin: 0 auto;
	text-align: center;
	position: sticky;
}

.column-title {
	align-items: center;
	justify-content: center;
	font-size: 25px;
	height: 10%;
	position: sticky;
}

.column-paragraph {
	width: 500%;
	height: 10%;
	position: sticky;
}

.paragraph-one {
	width: 350px;
	margin: 10% auto;
	text-align: center;
	position: sticky;
}
.paragraph-two {
	width: 350px;
	margin: 10% auto;
	text-align: center;
	position: sticky;
}
.paragraph-three {
	width: 350px;
	margin: 10% auto;
	text-align: center;
	position: sticky;
}

@media (min-width: 960px) {
	.jumbotron h1 {
		font-size: 6em;
		width: 100%;
		position: sticky;
	}

	.paragraph-one,
	.paragraph-three,
	.paragraph-two {
		padding: 10px;
		margin: 20px;
		height: auto;
		width: 200%;
		position: sticky;
	}
	.column-title {
		padding: 10px;
		margin: 20px;
		height: auto;
		width: 250%;
		position: sticky;
	}
}
