.mic-title {
}

.mic-name {
	margin-top: 10px;
	text-decoration: none !important;
}

.mic-description {
	margin-top: 0px;
	text-decoration: none !important;
}

.mic-quantity {
	margin-top: 0px;
}

.micro-image {
}

.mic-row {
}

.micro-col {
}

.back-button {
	text-decoration: none;
	color: #232323;
	text-decoration: none !important;
}

@media (min-width: 960px) {
	.micro-image {
	}

	.mic-title {
	}

	.mic-description {
		margin-top: 10px;
	}

	.mic-quantity {
	}
}
