.card-body {
	width: 120px;
	padding: 10%;
}

.card-image {
	margin-top: 20px;
	width: 100%;
	height: 8vw;
	object-fit: contain;
}

.card-description {
	font-size: 14px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card-name {
	font-size: 14px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
