.jumbotron {
	background-image: url(https://images.freeimages.com/images/small-previews/dd5/free-pattern-color-background-1639404.jpg);
	background-repeat: no-repeat, repeat;
	background-position: center;
	background-size: cover;
	width: cover;
	height: 5cm;
	text-align: center;

	font-weight: bold;
}
